 .product {
    margin-bottom: 8px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 3px 5px #888888;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
}

.product-currency {
    font-size: 10px;
    font-style: italic;
    font-weight: normal;
}
 
.green {
    color: rgb(125, 184, 125);
}

.red {
    color: rgb(187, 126, 126);
}

.status {
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
}

.mat-card {
    background-color: #ded3d3;
}